<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Unified AI Drug Demand Forecasting Platform</title>
<link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="page">
  <header class="hero">
    <h1>Unified AI Drug Demand Forecasting </h1>
    
  </header>

  <section class="card">
    <h2>🧞 Welcome to Genie Assistant</h2>
    <p>
      AI-powered platform predicting medication demand in South India using disease trends and weather patterns.
        Explore seasonal trends, temperature links, and forecasts through interactive dashboards
    </p>
    <p> 
    💬 Have questions? 
    Click the chat icon to get instant answers! 😊</p>
  </section>

  <div class="dashboard-buttons">
    <a href="dashboard.html" class="btn btn-blue">Dashboard 1 – Historical Trends</a>
    <a href="second_dashboard.html" class="btn btn-purple">Dashboard 2 – Predicted Trends</a>
  </div>

  <footer class="footer">
    <p>© 2026 Drug Demand Forecasting </p>
  </footer>
</div>

</body>
</html>